$amarillo: #ff9f00;
$blanco: #ffffff;
$azul: #0099c2;

aside{
  font-size: 1.5em;
  & > ul> li {
    padding: .5em 0px;
  }
}

.a-aside-left{
  font-size: 1.5em;
}

.pad2{
  padding: 2em;
  padding-bottom: 0px;
}

.attention{
  background-color: $azul;
  border-radius: 6px;
  text-align: center;
  padding: .5em 0px;
}

.attention-subtitle{ color: $amarillo; }

.attention-title{ color: $blanco; }

.box-unknown{
  background-color: #e9e9e9;
  height: 50vh;
  margin: 1em 0px;
}
