@import "index/var";
@import "./index/mixins.scss";
@import "./index/utilidades.scss";



.footer{ background-color: #5d5d5d; }

.footer-li{ font-size: 1em; }

.footer-img{ height: 200px;}

.footer-title{
  color: $naranja;
  border-bottom: 1px solid $naranja;
  font-size: 1.5em;
}

.post-footer{
  background-color: $negro;
  height: 50px;
}
