@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('../font/avenir/AvenirLTStd-Light.woff') format('woff');
}

$negro: #313131;
$amarillo: #ff9f00;
$blanco: #ffffff;
$azul: #0099c2;

body{ font-family:'Avenir LT Std 35 Light'; }

.pad2{
  padding: 2em;
  padding-bottom: 0px;
}

.space-between{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
