@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('../font/avenir/AvenirLTStd-Light.woff') format('woff');
}

$negro: #313131;
$amarillo: #ff9f00;
$blanco: #ffffff;
$azul: #0099c2;

body{ font-family:'Avenir LT Std 35 Light'; }

a{
  text-decoration: none;
  color: $negro;
}

aside{
  font-size: 1.5em;
  & > ul> li {
    padding: .5em 0px;
  }
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.a-aside-left{
  font-size: 1.5em;
}

.pad2{
  padding: 2em;
  padding-bottom: 0px;
}

.attention{
  background-color: $azul;
  border-radius: 6px;
  text-align: center;
  padding: .5em 0px;
}

.attention-subtitle{ color: $amarillo; }

.attention-title{ color: $blanco; }

.box-unknown{
  background-color: #e9e9e9;
  height: 50vh;
  margin: 1em 0px;
}

.w{ width: 100%; }

.center{ text-align: center; }

.h1-main{
  font-size: 2.5em;
  font-weight: bold;
}

.input-main{
  border: 0px;
  border-bottom: solid 1px #979797;
  box-shadow: initial;
}

.mb50{ margin-bottom: 50px; }

.flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.add{
  @extend .flex;
  height: 77px;
  width: 77px;
  background-color: $amarillo;
  color: $blanco;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.img-v3{
  height: 200px;
  width: 200px;
}

.t-left{
  text-align: left;
  font-size: 1.5em;
}
.container-response{ padding: 0px 1em; }

.title2{ font-size: 2em; }

.botones{
  @extend .flex;
  justify-content: center;
  &>.boton{
    padding: 0px 1em;
    color: $azul;
    margin: 0px .5em;
  }
}

.num{
  color: $amarillo;
  font-size: 2.5em;
  font-weight: bold;
}

.professional{
  color: $negro;
  font-size: 1.5em;
}

.location{ opacity: .6}

.avatar-img{
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.avatar-name{ font-size: 2em; }

.avatar-description{ opacity: .8; }

.avatar-cargo{
  color: $azul;
  font-weight: bold;
  font-size: 1.4em;
}

.avatar-stars{ color: $amarillo; }

.avatar-description2{
 font-size: .6em;
 opacity: .6;
 text-align: left;
}

.avatar-time{ justify-content: space-between; }

.avatar-num{
  background-color: $amarillo;
  font-size: 1em;
  color: $blanco;
  border-radius: 100px;
  @extend .flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.avatar-time-content{
  font-weight: bold;
  padding: 5px 0px;
  font-size: .9em;
}

.avatar-dir{
  @extend .flex;
  justify-content: space-between;
}

.avatar-left{ @extend .avatar-description2; }

.avatar-right{ @extend .avatar-description2; }

.contactar{
  background-color: #1689bd;
  height: 15vh;
  font-size: 2.5em;
  color: $blanco;
  margin-top: 1em;
  @extend .flex;
  @extend .flex-center;
}

.panel{
  background-color: $azul;
  color: $blanco;
}

.box-gray{
  height: 200px;
  background-color: #ccc;
}

.blue{
  @extend .panel;
  border-color: $blanco;
}

.blue::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $blanco;
}
.blue:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $blanco;
   opacity:  1;
}
.blue::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $blanco;
   opacity:  1;
}
.blue:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $blanco;
}
.blue::-ms-input-placeholder { /* Microsoft Edge */
   color:    $blanco;
}

.label-info{
  font-size: 1.9em;
  font-weight: bold;
}

.mb12{ margin-bottom: 12px!important; }

.pt0{ padding-top: 0px;}

.busqueda{ font-size: 2em;}
