@import "index/var";

.flex-end{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.nav{
  background-color: #0099c2;
  height: 100px;
}

.logo{
  width: 220px;
  min-height: 37px;
}

.nav-item{
  color: $blanco!important;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn{
  @extend .flex-center;
  background-color: $amarillo;
  border-radius: 20px;
  width: 70px;
  height: 36px;
}
