.column.is-3
  aside.left-bar
    ul
      each val in ["Mi Perfil","Mis Cotizaciones","Mensajes"]
        +Lis(val)
    .attention
      h3.attention-title Atención al Cliente
      p.attention-subtitle +584123356742
    .box-unknown
