.columns.is-fluid
  .column.is-5
    .avatar-v6
      .avatar-img-v6
        img(src="img/jose.jpg")
      .avatar-body-v6
        .avatar-name-v6 Carlos Roberto
        .avatar-stars-v6
          span.avatar-stars
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
  .column.is-4
    .zona-v6
      strong.title-zona-v6 Zona Residencia
      .text-zona-v6 SAO PAOBLO / BARRIO 1304
      .esquina-zona-v6 203902
  .column.is-3
    .today 12/01/2017
    .clientes Clientes desde
    .clientes 12
    .clientes Servicios Contratados

.columns.is-fluid
  .column.is-2
    .publicado-v6 Publicado
    .horas-v6 Hace 3 horas
  .column.is-6
    .title-service-v6 Servicio de Plomeria Baños
    .text-service-v6 Vivo en rio, mi cuarto de baño principal dejo de Funcionar ingrese al sitio y el sitio mostro los 3 plomeros cerca de mi lugar Vivo en rio, mi 
  .column.is-4
    .columns.is-fluid
      .column
        .box-unknown.gris(style="height:10vh;")
      .column
        .box-unknown.gris(style="height:10vh;")
      .column
        .box-unknown.gris(style="height:10vh;")
