doctype
html(lang="es_ES")
  head
    title="iUgetit.com | Lo que necesites, iUgetit lo hace por ti."
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ek+Mukta")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="sass/index.min.css")
    link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(href="favicon.ico" rel="apple-touch-icon-precomposed")
    
