//output:../public/index7.html
include header.pug.jade
    link(rel="stylesheet" href="css/index2.min.css")
      
//0 texto,1 numero,2 estado del numero(si lleva o no lleva numero)
mixin Lis(texto,num,state)
  li.space-between
    a.a-aside-left.f1em=texto
    if state
      .avatar-num.blue.num-v5 #{num}
    
mixin Imgs(url)
  .column
    img.img-v3(src="#{url}" alt="")
      
include carta.pug.jade
     
body
  include nav.pug.jade
  .columns.pad2
    .column.is-3
      aside.left-bar
        ul
          each val in [{text:"Hola ",num:"0",stateNumero:false},{text:"Nuevos Trabajos",num:"0",stateNumero:true},{text:"Trabajos Aceptados",num:"0",stateNumero:false}]
            +Lis(val.text,val.num,val.stateNumero)
    
    .column.is-9.center
      include avatar.pug.jade
      .separador
      include avatar.pug.jade
    
           
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://use.fontawesome.com/baac1788c9.js")
script(src="js/index.js")
