//output:../index2.html
-var p1 = "¿Reparaciones y servicios en tu casa o empresa? Se reventó la tubería, los fusibles se quemaron, el carro no prendió, necesitas construir una mesa o pared, instalar internet o simplemente cambiar un bombillo, iUgetit lo hace por ti."
-var p2 = "Sin tener que salir de casa o del trabajo, iUgetit te ofrece variadas opciones para que elijas la que mejor se ajuste a tu presupuesto y necesidad."
    
include header.pug.jade

body
  include nav.pug.jade
  include banner.pug.jade
  include box.pug.jade
  .pads
    h1.h1 Encuentra profesionales cerca de ti Ofrece tus servicios facil y seguro
    section.ubicanos
      .columns
        .column.is-5
          form.form
            .field
              label.label Name
              .control
                input.input(required type="text" placeholder="input field")
            .field
              label.label Name
              .control
                input.input(required type="text" placeholder="input field")
            .centrado
              h1.h1-find 28
              h3.h3-find Pintores
              p.p-find Estan cerca de tu ubicación
            a.button.full-w.btn-contact Submit
        .column.is-7
          .embed-responsive-16by9.embed-responsive
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.190621514171!2d-74.05439923572655!3d4.736919742662573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8572bdca4a69%3A0x446edf6c42281450!2sMazuren%2C+Bogot%C3%A1%2C+Colombia!5e0!3m2!1ses-419!2ses!4v1492472808906" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
      
  -var p_pasos1 = "Lo primero que debes hacer es decirnos Qué necesitas , puede ser desde cambiar la chapa de una puerta, el caucho al automóvil, hasta construir una pared, ¿y por qué no? remodelar su baño, o directamente puedes colocar “necesito un albañil o un plomero”. Luego en información adicional puedes ser más específico acerca de lo que necesitas. Coloca medidas, fotos, y más."
  -var p_pasos2 = "Hay 2 maneras de realizar la búsqueda: Búsqueda normal o Búsqueda iugetit (recomendada). ¿por qué recomendamos la segunda?, búsqueda iugetit es una búsqueda inteligente, con ella NO TENDRÁS que verificar perfil por perfil para saber cual es el que se adapta a su solicitud, o cual se encuentra más cerca de usted. En cambio con la primera, si tendrá que hacerlo."
  -var p_pasos3 = "¡Bien! Ahora que sabemos lo que necesita, a continuación le ofreceremos varias opciones de profesionales que se ajusten a su requerimiento. Usted y solo usted , es el que decide qué persona es la adecuada para el trabajo."
  -var p_pasos4 = "Luego de haber chequeado las opciones, usted podrá acceder al perfil de, ejemplo: José Pérez, plomero. Marcos Vega, plomero, y contactarlos directamente, y obtener de ellos presupuesto y disponibilidad. y por Ultimo Contrata quien mejor se Ajuste a tu presupuesto."
  br
  br
  br
  section.pasos
    .columns.pads
      .column.is-8
        h1.h1.center ¿Cómo funciona iUgetit?
        .container-pasos
          .circulo 1
          p.p-pasos #{p_pasos1}
        .container-pasos
          .circulo 2
          p.p-pasos #{p_pasos2}
        .container-pasos
          .circulo 3
          p.p-pasos #{p_pasos3}
        .container-pasos
          .circulo 4
          p.p-pasos #{p_pasos4}
        a.button.boton.info
          strong REGISTRATE
          p Mas de 1200 profesionales para ayudarte
      .column.is-4
        img(src="img/group-4.png")
        img(src="img/group.png")
        img(src="img/group-2.png")
        img(src="img/group-3.png")
  br
  br
  br
  include contactenos.pug.jade
  include footer.pug.jade
  
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="js/index.js")
script(src="https://use.fontawesome.com/baac1788c9.js")
