//output:../index.html
-var p1 = "¿Reparaciones y servicios en tu casa o empresa? Se reventó la tubería, los fusibles se quemaron, el carro no prendió, necesitas construir una mesa o pared, instalar internet o simplemente cambiar un bombillo, iUgetit lo hace por ti."
-var p2 = "Sin tener que salir de casa o del trabajo, iUgetit te ofrece variadas opciones para que elijas la que mejor se ajuste a tu presupuesto y necesidad."
    
include header.pug.jade

body
  include nav.pug.jade
  include banner.pug.jade
  include box.pug.jade
  
  br
  .pads
    h4.h1 Ofrece tus servicios facil y seguro Encuentra profesionales cerca de ti
  br
  .columns.pads
    .column
      img(src="img/men.png")
    .column.center.flex-end
      p.p-profesionales En #[strong iUgetit] puedes encontrar personas que buscan tus servicios de manera rapida y sencilla, solo debes registrarte y comenza a cotizar, por tus servicios. Es facil y sencillo y muy ajustable a tus necesidades.
      br
      a.button.boton.info
        strong REGISTRATE
        p Mas de 1200 profesionales para ayudarte
    .column
      img(src="img/woman.png")
  
  include card.pug.jade
  include contactenos.pug.jade
  include footer.pug.jade
  
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="js/index.js")
script(src="https://use.fontawesome.com/baac1788c9.js")
