//output:../public/index4.html
include header.pug.jade
    link(rel="stylesheet" href="css/index2.min.css")
      
mixin Lis(texto)
  li
    a.a-aside-left=texto
    
mixin Imgs(url)
  .column
    img.img-v3(src="#{url}" alt="")
      
include carta.pug.jade
     
body
  include nav.pug.jade
  .panel.mb12
    .columns.pad2
      .column.is-3
        h1.h1-main.center ¿Que Necesitas hacer?
      .column.is-9
        input.input.input-main.mb50.blue(type="text" placeholder="Cambiar un Bombillo")
    .columns.pad2
      .column
        .info-adicional
          label.label-info Información Adicional
          input.input.input-main.blue
      .column
        .columns.is-fluid
          .column.is-4
            .center.flex.flex-center
              .add +
          .column.is-4
            .box-gray
          .column.is-4
            .box-gray
        
  .columns.pad2.pt0
    .column
      .flex-center
        h1.center.busqueda Busqueda Normal
    .column.panel.flex-center
      h1.center.busqueda Busqueda
      img.logo(src="img/brand.png" alt="Iugetit")

  .columns.pad2
    include asideLeft.pug.jade
    //aside left is-3
    .column.is-9
      .columns.is-fluid.center
        each val,index in avatars
          +Cards(val.url,val.nombre,val.d1,val.cargo,val.d2)
      .columns.is-fluid.center
        each val,index in avatars
          +Cards(val.url,val.nombre,val.d1,val.cargo,val.d2)
                
           
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://use.fontawesome.com/baac1788c9.js")
