mixin as()
  each val in ["Contáctenos","Sig In"]
    a.nav-item #{val}
    
nav.nav
  .nav-left
    a.nav-item
      img(src="img/brand.png",alt="Atis",class="logo")
      
  span.nav-toggle
    each val in [1, 2, 3]
      span
  
  .nav-right.nav-menu
    +as()
    a.nav-item.active
      .nav-btn Log In
