table.table
  tr
    th Lunes 01/02
    td  07:00 Am / 11:00 Am
    td.td-short  11:01 Am / 1:00 Pm
    td  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Martes 01/02
    td  07:00 Am / 11:00 Am
    td.td-short.activo  11:01 Am / 1:00 Pm
    td  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Miercoles 01/02
    td.activo  07:00 Am / 11:00 Am
    td.td-short.activo  11:01 Am / 1:00 Pm
    td.activo  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Jueves 01/02
    td  07:00 Am / 11:00 Am
    td.td-short  11:01 Am / 1:00 Pm
    td  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Viernes 01/02
    td.activo  07:00 Am / 11:00 Am
    td.td-short  11:01 Am / 1:00 Pm
    td.activo  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Sabado 01/02
    td  07:00 Am / 11:00 Am
    td.td-short  11:01 Am / 1:00 Pm
    td  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
  tr
    th Domingo 01/02
    td  07:00 Am / 11:00 Am
    td.td-short  11:01 Am / 1:00 Pm
    td  01:01 Pm / 6:00 Pm
    td.td-short  06:01 Pm / 8:00 Pm
